@import url("https://fonts.googleapis.com/css2?family=Shanti&family=Yantramanav:wght@700&display=swap");

@font-face {
  font-family: "chess";
  src: url("/MERIFONT.TTF");
}

body {
  background-color: #edffee;
  display: flex;
  flex-direction: row-reverse;
  font-family: "Shanti", sans-serif;
}

.stuff {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 20%;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: "Yantramanav", sans-serif;
  font-size: 3.5vw;
  color: black;
  padding: 2rem 10rem 0rem 0rem;
}

.subtitle {
  font-size: 2vw;
  color: black;
}

.modal-content {
  padding: 2rem 5rem 2rem;
  margin: 2rem 0rem 2rem;
  border-radius: 30px;
  border: 0.5px solid #b8b8b8;
}

.promote {
  font-size: 1.7vw;
  color: black;
}

a {
  color: #316540;
  text-decoration: none;
}

a:hover {
  transition: cubic-bezier(0.23, 1, 0.32, 1);
  color: #7e9c80;
}

.button {
  font-family: "chess";
  font-size: 4vw;
  margin: 1rem 0rem 1rem;
  padding: 2rem 0rem 2rem;
  border: 1px solid #edffee;
  border-radius: 30px;
  background-color: #e0e0e0;
}
